header {font-family: montserrat-alternates, sans-serif;

    font-weight: 900;
    
    font-style: italic;}

main {font-family: montserrat-alternates, sans-serif;

    font-weight: 900;
    
    font-style: italic;}

.albumes {font-family: aglet-slab, sans-serif;

    font-weight: 500;
    
    font-style: normal;}

.historia {font-family: ff-dax-pro-wide, sans-serif;

    font-weight: 900;
    
    font-style: italic;}



.fondo {background-color: #000; width: auto; height: auto; padding-top: 2%;}
.color {color: #fff;}
.color1 {color: #000; background-color: #fff; opacity: 80%; width: 5.2em; padding: 1px;}
.color2 {color: #000; background-color: #fff; opacity: 80%; width: 53.5em; padding: 3px;}
.color3 {color: #000; background-color: #fff; opacity: 80%; width: 28em; padding: 3px;}


.fondo-jumbotron {background-image: url(../img/fondo1.jpg); 
    min-height: 500px; background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

.icono { font-size: 2em; color:#fff}

.imagen-logo {width: 8em;}

.jumbotron {margin-bottom: 0%;}